<!DOCTYPE html>
   <html>
     <head>
         <title><%= title %></title>
       </head>
       <body>
         <% if ( studentFullName ) { %>
           <h2>Hello <%=studentFullName%> </h2>
           <a href="/signout">Sign out</a>
         <% } else { %>
           <a href="/signup">Sign up</a>
           <a href="/signin">Sign in</a>
<% } %>
       <br>
         <img src="img/logo.png" alt="Logo">
       </body>
   </html>