<!DOCTYPE html>
   <html>
   <head>
     <title>
       <%=title %>
     </title>
   </head>
   <body>
     <% for(var i in messages) { %>
       <div class="flash"><%= messages[i] %></div>
     <% } %>
     <form action="/signup" method="post">
       <div>
         <label>Nombre:</label>
         <input type="text" name="nombre" />
       </div>
       <div>
         <label>Apellidos:</label>
         <input type="text" name="apellidos" />
</div> <div>
         <label>Email:</label>
         <input type="text" name="email" />
       </div>
 <div>
         <label>Carnet:</label>
         <input type="text" name="carnet" />
       </div>
       <div>
         <label>Contrasena:</label>
         <input type="password" name="password" />
</div> <div>
         <input type="submit" value="Sign up" />
       </div>
     </form>
   </body>
</html>
